body{
    background-color: grey;
    background-image: url("../img/index/Ferrari_contact_page.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


  .parallax {
    background-image: url("https://cdn.discordapp.com/attachments/628137088570621962/636994551835394059/mustangParallax.jpg");
    height: 200px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
  
  h1{
      color: white;
      text-align: center;
      font-family: sans-serif;
  }

  h2{
        color: white;
        text-align: center;
        font-family: sans-serif;
  }


  a{
      color: white;
      text-align: center;
      font-family: sans-serif;
      -webkit-text-stroke-width: 1px;
      -webkit-text-stroke-color: white;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: none;
  }